# Tools
target/

# Editor config
.vscode/
.idea/

# Local environmental variables
.env

# MacOS folder attributes
**/.DS_Store

# Logs sometimes make it into the repo
*.log

# I, @tombh, have some fancy compiler speed ups
.cargo

# Built website
website/public/
website/build-vars/
