.footer {
  &__social-container {
    text-align: center;
    padding: 32px 16px;
  }

  &__icon {
    text-decoration: none;

    img {
      margin-bottom: -7px;
    }
  }

  &__social {
    padding: 12px;

    img {
      filter: var(--footer-image-filter);
      transition: scale $duration, opacity $duration;
      opacity: 0.65;
    }

    &:hover {
      img {
        scale: 110%;
        opacity: 1;
      }
    }
  }
}
